USE [master]
GO
/****** Object:  Database [OdeonHotel]    Script Date: 10.04.2022 22:08:46 ******/
CREATE DATABASE [OdeonHotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OdeonHotelTestCase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OdeonHotelTestCase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OdeonHotelTestCase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OdeonHotelTestCase.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OdeonHotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OdeonHotel]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10.04.2022 22:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelRooms]    Script Date: 10.04.2022 22:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelRooms](
	[Id] [uniqueidentifier] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[MaxAllotment] [int] NOT NULL,
	[SoldAllotment] [int] NOT NULL,
	[HotelId] [uniqueidentifier] NOT NULL,
	[RoomTypeId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_HotelRooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotels]    Script Date: 10.04.2022 22:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotels](
	[Id] [uniqueidentifier] NOT NULL,
	[HotelName] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Hotels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 10.04.2022 22:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [uniqueidentifier] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[RoomCount] [int] NOT NULL,
	[HotelRoomId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 10.04.2022 22:08:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[RoomTypeName] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime2](7) NOT NULL,
	[UpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_RoomTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20220410140827_FirstInitiate', N'6.0.3')
GO
INSERT [dbo].[HotelRooms] ([Id], [Price], [MaxAllotment], [SoldAllotment], [HotelId], [RoomTypeId], [CreateDate], [UpdateDate]) VALUES (N'88f3e00b-d208-4c42-8f7d-00289f8de89a', CAST(181.54 AS Decimal(18, 2)), 28, 2, N'62287bf8-658f-4651-945f-55078974512f', N'c7f5fedd-c59e-4b99-9562-ec7446fcbcb7', CAST(N'2022-04-10T21:45:59.5600000' AS DateTime2), NULL)
INSERT [dbo].[HotelRooms] ([Id], [Price], [MaxAllotment], [SoldAllotment], [HotelId], [RoomTypeId], [CreateDate], [UpdateDate]) VALUES (N'b3e52d3d-59f9-4e78-aad9-004bda911fb8', CAST(698.73 AS Decimal(18, 2)), 28, 13, N'bbe3af07-945b-47ad-a854-7e7b73d719fb', N'c7f5fedd-c59e-4b99-9562-ec7446fcbcb7', CAST(N'2022-04-10T21:45:59.5600000' AS DateTime2), NULL)
INSERT [dbo].[HotelRooms] ([Id], [Price], [MaxAllotment], [SoldAllotment], [HotelId], [RoomTypeId], [CreateDate], [UpdateDate]) VALUES (N'11be5f28-9704-4b89-8282-0121cf0f5980', CAST(522.49 AS Decimal(18, 2)), 26, 11, N'8cfc6b80-e13e-4161-8288-31e9afc35cc3', N'b5b9b29d-8b6b-4f83-ba7d-b8b7f21ad203', CAST(N'2022-04-10T21:44:12.0400000' AS DateTime2), NULL)
GO
INSERT [dbo].[Hotels] ([Id], [HotelName], [CreateDate], [UpdateDate]) VALUES (N'757dddc4-adb7-4b11-97fe-008f681ddd6b', N'Hotel Occazia', CAST(N'2022-04-10T20:24:31.2266667' AS DateTime2), NULL)
INSERT [dbo].[Hotels] ([Id], [HotelName], [CreateDate], [UpdateDate]) VALUES (N'738ff466-d4b6-4663-9a2d-0149421d1a71', N'Treebones Resort', CAST(N'2022-04-10T20:24:31.2266667' AS DateTime2), NULL)
INSERT [dbo].[Hotels] ([Id], [HotelName], [CreateDate], [UpdateDate]) VALUES (N'3130570c-98fe-4b85-98ea-01ca10368047', N'Beachwalk Resort', CAST(N'2022-04-10T20:24:31.2266667' AS DateTime2), NULL)
GO
INSERT [dbo].[RoomTypes] ([Id], [RoomTypeName], [CreateDate], [UpdateDate]) VALUES (N'1a92ade3-f460-4391-915e-2ab799aa789e', N'Twin', CAST(N'2022-04-10T20:07:07.6066667' AS DateTime2), NULL)
INSERT [dbo].[RoomTypes] ([Id], [RoomTypeName], [CreateDate], [UpdateDate]) VALUES (N'cf2eedee-7c96-4490-8d1a-4041994dd5e8', N'Queen', CAST(N'2022-04-10T20:07:07.6066667' AS DateTime2), NULL)
INSERT [dbo].[RoomTypes] ([Id], [RoomTypeName], [CreateDate], [UpdateDate]) VALUES (N'4f4a127b-89f7-4df5-9818-81c05553d774', N'King', CAST(N'2022-04-10T20:07:07.6066667' AS DateTime2), NULL)
GO
/****** Object:  Index [IX_HotelRooms_HotelId]    Script Date: 10.04.2022 22:08:47 ******/
CREATE NONCLUSTERED INDEX [IX_HotelRooms_HotelId] ON [dbo].[HotelRooms]
(
	[HotelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HotelRooms_RoomTypeId]    Script Date: 10.04.2022 22:08:47 ******/
CREATE NONCLUSTERED INDEX [IX_HotelRooms_RoomTypeId] ON [dbo].[HotelRooms]
(
	[RoomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_HotelRoomId]    Script Date: 10.04.2022 22:08:47 ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_HotelRoomId] ON [dbo].[Reservations]
(
	[HotelRoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HotelRooms]  WITH CHECK ADD  CONSTRAINT [FK_HotelRooms_Hotels_HotelId] FOREIGN KEY([HotelId])
REFERENCES [dbo].[Hotels] ([Id])
GO
ALTER TABLE [dbo].[HotelRooms] CHECK CONSTRAINT [FK_HotelRooms_Hotels_HotelId]
GO
ALTER TABLE [dbo].[HotelRooms]  WITH CHECK ADD  CONSTRAINT [FK_HotelRooms_RoomTypes_RoomTypeId] FOREIGN KEY([RoomTypeId])
REFERENCES [dbo].[RoomTypes] ([Id])
GO
ALTER TABLE [dbo].[HotelRooms] CHECK CONSTRAINT [FK_HotelRooms_RoomTypes_RoomTypeId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_HotelRooms_HotelRoomId] FOREIGN KEY([HotelRoomId])
REFERENCES [dbo].[HotelRooms] ([Id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_HotelRooms_HotelRoomId]
GO
USE [master]
GO
